body {
  margin: 0px;
}

.el-tabs {
  height: 100vh;

  .is-left {
    margin-right: 0px !important;
  }

  /** サイドメニュー */
  .el-tabs__header {
    width: fit-content;
    background-color: #fffde1;

    .is-left {
      height: 100%;
    }

    .el-tabs__nav-wrap::after,
    .el-tabs__active-bar {
      background-color: unset;
    }
    .el-tabs__nav {
      display: grid;
      grid-template-rows: repeat(4, 36px);
      row-gap: 50px;
      align-content: center;
      width: 200px;
      z-index: 0;

      /** メニュー */
      .el-tabs__item {
        height: 100%;
        font-family: "OriginalSurfer-Regular";
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
        text-align: center !important;
        letter-spacing: 5px;
        color: #fdc5c9;
      }
      /** 選択時 */
      .el-tabs__item:hover,
      .is-active {
        color: #f36974 !important;
      }
    }
  }

  /** 表示エリア */
  .el-tabs__content {
    height: 100%;
    background: #b3ffc4;
    background-image: radial-gradient(#ffffff 10%, transparent 16%),
      radial-gradient(#ffffff 10%, transparent 16%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    font-family: "OriginalSurfer-Regular", "KaiseiOpti-Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: #4dc191;
  }
}

/** モーダル */
.modal {
  max-width: 1000px !important;
  overflow-wrap: break-word;

  div[class^="modal-content"] {
    text-align: left;
  }
}
