
body {
    margin: 0px;
}

.el-tabs {

    .is-left {
        margin-right: 0px !important;
    }

    /** サイドメニュー */
    .el-tabs__header {
        width: fit-content;
        background-color: rgb(31, 114, 170);

        .is-left {
            height: 100vh;
        }

        .el-tabs__nav-wrap::after,
        .el-tabs__active-bar {
            background-color: unset;
        }
        .el-tabs__nav {
            display: grid;
            grid-template-rows: repeat(4, 36px);
            row-gap: 50px;
            align-content: center;
            width: 200px;

            /** メニュー */
            .el-tabs__item {
                height: auto;
                font-family: "simplicity";
                font-size: 26px;
                font-style: normal;
                font-weight: bold;
                text-align: center !important;
                color: rgb(255, 254, 249);
            }
            /** 選択時 */
            .is-active {
                color: rgb(255, 220, 47) !important;
            }
            }
    }

    /** 表示エリア */
    .el-tabs__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(152, 207, 243);
    }
}