/** nomal */
@font-face {
    font-family: 'simplicty';
    src: url('~@/assets/fonts/Simplicity.ttf') format('truetype');
  }

  /** bold */
  @font-face {
    font-family: 'simplicty';
    src: url('~@/assets/fonts/Simplicity.ttf') format('truetype');
    font-weight: bold;
  }

  /** italic */
  @font-face {
    font-family: 'simplicty';
    src: url('~@/assets/fonts/Simplicity.ttf') format('truetype');
    font-style: italic;
  }