/** KaiseiOpti */
/** Bold */
@font-face {
  font-family: "KaiseiOpti-Bold";
  src: url("~@/assets/fonts/KaiseiOpti-Bold.ttf") format("truetype");
}

/** Medium */
@font-face {
  font-family: "KaiseiOpti-Medium";
  src: url("~@/assets/fonts/KaiseiOpti-Medium.ttf") format("truetype");
}

/** Regular */
@font-face {
  font-family: "KaiseiOpti-Regular";
  src: url("~@/assets/fonts/KaiseiOpti-Regular.ttf") format("truetype");
}

/** OriginalSurfer-Regular */
@font-face {
  font-family: "OriginalSurfer-Regular";
  src: url("~@/assets/fonts/OriginalSurfer-Regular.ttf") format("truetype");
}
