/** hector-barbossa */
/** nomal */
@font-face {
  font-family: 'hector-barbossa';
  src: url('~@/assets/fonts/Hector Barbossa.ttf') format('truetype');
}

/** bold */
@font-face {
  font-family: 'hector-barbossa';
  src: url('~@/assets/fonts/Hector Barbossa.ttf') format('truetype');
  font-weight: bold;
}

/** italic */
@font-face {
  font-family: 'hector-barbossa';
  src: url('~@/assets/fonts/Hector Barbossa.ttf') format('truetype');
  font-style: italic;
}

/** angelitta */
/** nomal */
@font-face {
  font-family: 'angelitta';
  src: url('~@/assets/fonts/Angelitta.ttf') format('truetype');
}

/** bold */
@font-face {
  font-family: 'angelitta';
  src: url('~@/assets/fonts/Angelitta.ttf') format('truetype');
  font-weight: bold;
}

/** italic */
@font-face {
  font-family: 'angelitta';
  src: url('~@/assets/fonts/Angelitta.ttf') format('truetype');
  font-style: italic;
}